@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ###################################################################      COMMON STYLING */
/* RESET ALL MARGINS AND PADDING AND SET DEFAULT BOX SIZING TO BE BORDER BOX  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* STYLING FOR - DEFAULT STYLING FOR THE BODY */
body {
    width: 100%;
    font-size: 100%;
    font-family: "Poppins" ,sans-serif;
    font-weight: 400;
    background-color: #da7b9367;
    color: #555555;
}

/* STYLING FOR - THE MAIN ELEMENT */
main {
    position: relative;
    background-color: #fff;
    width: 100%;
    text-align: center;
}


/* ################################             COMMON - BUTTONS */

/* STYLING FOR - CORE BUTTON STYLING */
.btn {
    color: #ddd;
    padding: 0.5rem 2rem;
    border: none;
    display: inline-block;
    margin: 0;
    border-radius: 50px;
}

/* STYLING FOR - BUTTON OF TYPE CTA (CALL TO ACTION) */
.btn-cta {
    background: #E55315;
}

/* STYLING FOR - BUTTON TYPE OF INFO */
.btn-info,
.btn-learn-more,
.btn-read-more {
    background: #2e151b;
    box-shadow: 0 5px 5px 0 rgba(32,33,36,0.50);
}

/* STYLING FOR - BUTTON IN HOVER STATE */
.btn:hover {
    color: #ddd;
    background: #da7b93;
    transition: all 0.55s ease-in-out;
    -moz-transition: all 0.55s ease-in-out;
    -webkit-transition: all 0.55s ease-in-out;
    -o-transition: all 0.55s ease-in-out;
}



/* ################################              COMMON - HEADINGS & PARAGRAPHS */

h1 {
    font-size: 2.2rem;
    font-weight: 700;
    /* credit for the following code to achieve an internal shadow to: https://designshack.net/articles/css/inner-shadows-in-css-images-text-and-beyond/ */
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

h1, h2, h3,
h4, h5, h6 {
    text-transform: capitalize;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.4rem;
    font-weight: 600;
   
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
}

h5 {
    font-size: .8rem;
}

h6 {
    font-size: .6rem
}

p {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 26px;
}

/* ################################         COMMON - GENERAL STYLING */

.box-shadow {
    -webkit-box-shadow: 0 1px 6px 0 rgb(46,21,27);
    -moz-box-shadow: 0 1px 6px 0 rgb(46,21,27);
    box-shadow: 0 1px 6px 0 rgb(46,21,27);
}


/* ################################################################################################################################# */

/* ################################         COMMON - CONTAINERS*/
.intro-container,
.partner-container {
    padding: 0 20px;
    width: 100%;
    margin-bottom: 80px;
}

.partner-callout-container {
    padding: 10px 20px;
    margin-bottom: 100px;
}

.further-reading-container {
    padding: 0 40px;
}



/* ################################################################################################################################# */

/* ###################################################################         NAVBAR STYLING */

/* STYLING FOR - STYLE THE NAV LINKS */
.navbar-dark .navbar-nav .nav-link {
    color: #da7b93;
    font-size: 1.1rem;
    margin: 0 10px;
    font-weight: 500;
}


/* STYLING FOR - DROPDOWN MENU - METHOD TO ACHIEVE SHADOWS, INSPIRED FROM CSS TRICKS ARTICLE ON BOX-SHADOW, IMPLEMENTED IN MY OWN WAY */
.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #2e151b;
    -webkit-box-shadow: 0 1px 6px 0 rgb(46,21,27);
    -moz-box-shadow:    0 1px 6px 0 rgb(46,21,27);
    box-shadow: 0 1px 6px 0 rgb(46,21,27);
    width: 100px;
}


/* STYLING FOR - DROPDOWN MENU ITEMS */
.dropdown-item {
    color: #da7b93;
    font-size: 1.18rem;
    font-weight: 500;
}


/* STYLING FOR - HOVER STYLING FOR DROPDOWN MENU - CSSGRADIENT.IO USED HERE */
.dropdown-item:hover {
    color:  #ddd;
    transition: all 0.55s ease-in-out;
    -moz-transition: all 0.55s ease-in-out;
    -webkit-transition: all 0.55s ease-in-out;
    -o-transition: all 0.55s ease-in-out;
    background: #2e151b;
    /* background: rgb(221,221,221);
    background: radial-gradient(circle, rgba(221,221,221,1) 24%, rgba(46,21,27,1) 89%); */
}


/* STYLING FOR - REMOVE TOGGLER ICON BORDER */
.navbar-dark .navbar-toggler {
    border: none;
}


/* STYLING FOR - ACTIVE NAVBAR LINK */
.navbar-dark .navbar-nav .active>.nav-link {
    font-weight: 700;
    color: #ddd;
}

/* STYLING FOR - CREATE SMOOTH TRANSITION OF COLOR WHEN LINKS ARE IN HOVERED STATE - CREDIT CODE TO CODE INSTITUTE MODULE */
.navbar-dark .navbar-nav .nav-link:hover {
    color:  #ddd;
    transition: all 0.55s ease-in-out;
    -moz-transition: all 0.55s ease-in-out;
    -webkit-transition: all 0.55s ease-in-out;
    -o-transition: all 0.55s ease-in-out;
}

  /* STYLING FOR - NAV LINKS HOVER UNDERLINE EFFECT - https://ianlunn.github.io/Hover/ and CDNJS -  COLOR src=https://cssgradient.io/ */
  .hvr-underline-from-center:before {
    border-radius: 50%;
    height: 5px;

    background: rgb(221,221,221);
    background: radial-gradient(circle, rgba(221,221,221,1) 24%, rgba(46,21,27,1) 89%);

    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40 ease-in-out;
    -o-transition: all 0.40s ease-in-out;
  }


/* ################################################################################################################################# */

/* ###################################################################              HERO SECTION STYLING */

.hero-image {
    background-image:  url("../images/laptop-stats-eye.jpg");
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

/* STYLING FOR HERO OPACITY LAYER - USED FLEX TO ALLOW MARGIN: AUTO IN THE CHILD TO CENTER THE TEXT, CREDIT: CSS TRICKS */
.hero-overlay {
    height: 100%;
    width: 100%;  
    background-color: rgba(218,123,147, 0.3);
    display: flex;
  }

/* STYLING FOR - HERO TEXT CONTAINER */
.hero-text {
    margin: auto;
    text-align: center;
}

/* STYLING FOR - HERO TEXT - ALTERED DEFAULT H1 STYLING */
.hero-text h1 {
    text-shadow: 0px 2px 3px #130a0a;
    font-size: 3rem;
}

/* STYLING FOR - HERO TEXT - ALTERED DEFAULT H2 STYLING */
.hero-text h2 {
    color: #2e151b;
    font-weight: 600;
    font-size: 2rem;
}


/* ################################################################################################################################# */

/* ###################################################################              BENEFITS SECTION STYLING */


.benefits-container {
    margin-top: 100px;
}

.hospitality-benifit-img,
.retail-benifit-img,
.features-benifit-img {
    width: 100%;
    max-width: 500px;
}

/* ################################################################################################################################# */

/* ###################################################################   PARTNER CALLOUT BANNER    */

.partner-callout-container {
    width: 100%;
    margin-top: 100px;
    background-color: #2e151b;
}

.partner-callout-container h2 {
    color: #da7b93;
}

.partner-callout-container h3 {
    color: #ddd;
}

.partner-callout-container .row {
    height: 180px;
}

/* ################################################################################################################################# */

/* ###################################################################         FURTHER READING - NEWS SECTION */

.further-reading-container h2 {
    margin-bottom: 50px;
    text-align: left;
}

/* STYLING FOR - TO REMOVE CARD BORDER STYLING */
.card {
    border-style: none;
}

.gold-meter-award,
.licence-announcement,
.forum-post {
    width: 100%;
    max-width: 100px;
    margin-bottom: 20px ;
}

/* ################################################################################################################################# */


/* ###################################################################         PAGE FOOTER */

/* STYLING FOR - ACTIVE NAVBAR LINK */
.footer-nav-links.active {
    font-weight: 700;
    color: #ddd;
}

/* STYLING FOR - CREATE SMOOTH TRANSITION OF COLOR WHEN LINKS ARE IN HOVERED STATE - CREDIT CODE TO CODE INSTITUTE MODULE */
.footer-nav-links:hover {
    color:  #ddd;
    transition: all 0.55s ease-in-out;
    -moz-transition: all 0.55s ease-in-out;
    -webkit-transition: all 0.55s ease-in-out;
    -o-transition: all 0.55s ease-in-out;
}


.page-footer {
    width: 100%;
    background-color: #2e151b;
    text-align: center;
    padding: 20px 10px;
    overflow: hidden;
}

.page-footer a,
.page-footer h6 {
    color: #da7b93;
    text-decoration: none;
}

.page-footer a, .btn-cta {
    color: #ddd;
}

a.social-links .fab {
    font-size: 2rem;
    margin-right: 20px;
    color: #da7b93;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
  }
  
  .social-links .fab:hover {
    text-shadow: 1px .5px .5px #da7b93;
  }
  
  .social-links .fa-twitter:hover {
    color: #38A1F3;
  }
  
  .social-links .fa-facebook:hover {
    color: #3b5998;
  }
  
  .social-links .fa-linkedin:hover {
    color: #0e76a8;
  }
  
  .social-links .fa-youtube:hover {
    color: #ff0000;
  }
  
.Copyright {
    font-size: 1rem;
    margin: 30px 0 10px;
    
}

/* ################################################################################################################################# */


/* ###################################################################   MEDIA QUERYS    */

@media (min-width: 576px){

    /* ALLOW BENEFITS IMAGES TO GROW SLIGHTLY FROM MOBILE TO SMALL TABLET */
    .hospitality-benifit-img,
    .retail-benifit-img,
    .features-benifit-img {
        min-height: 300px;
      }
}

  
@media (min-width: 992px){

    /* FONT ADJUSTMENTS FOR LARGER SCREENS */
    .hero-text {
        text-align: left;
    }

    .hero-text h1 {
        font-size: 4rem;
    }
    
    .hero-text h2 {
        font-size: 3rem;
        
    }
    
    h1 {
        font-size: 4rem;
        font-weight: 700;
    }
    
    h2 {
        font-size: 2rem;
        font-weight: 600;
    }
    
    h3 {
        font-size: 1.6rem;
        font-weight: 600;
    }
    
    h4 {
        font-size: 1.4rem;
        font-weight: 600;
    }
    
    h5 {
        font-size: 1rem;
    }
    
    h6 {
        font-size: .6rem
    }

}


@media (min-width: 1200px){
    /* QUERY TO FIX THE WHITE BACKGROUND IN PLACE WHEN 1200PX IS REACHED / LG-BREAKPOINT */
    main {
        max-width: 1200px;
        left: 50%;
        margin-left: -600px;
        margin-top: -30px;
        margin-bottom: 50px;
    }

    /* QUERYS TO ALLOW OFFSET ITEMS TO MOVE ON LARGER SCREENS */
    .expand-left-container {
        position: relative;
        margin-left: -60px;     
    }

    .expand-right-container {
        position: relative;
        margin-right: -60px;     
    }

    .partner-callout-container {
        position: relative;
        margin-left: -40px;
        width: 1280px
    }

    .partner-callout-container h2 {
        font-size: 2.5rem;
        font-weight: 700;
        color: #da7b93;
    }
}
  

/* ###################################################################       */
/* ###################################################################       */
/* ###################################################################       */
/* ###################################################################       */
/* ###################################################################       */
  
  
 
  

  
  