@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ######################################################################## COMMON STYLING */
/* RESET ALL MARGINS AND PADDING AND SET DEFAULT BOX SIZING TO BE BORDER BOX */

 * {
     padding: 0;
     margin: 0;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
/* STYLING FOR - DEFAULT STYLING FOR THE BODY */
 body {
     width: 100%;
     font-size: 100%;
     font-family: "Poppins" ,sans-serif;
     font-weight: 400;
     background-color: #da7b9367;
     color: #424242;
}

/* ######################################################################### END */
/* ######################################################################### COMMON - CONTAINERS*/

/* STYLING FOR - THE MAIN ELEMENT */
/* .HOME-MAIN CLASS IS SPECIFICALLY STYLING FOR HOME PAGE - MAIN ELEMENT APPLIES TO ALL OTHER PAGES - ALSO SEE 1200PX MEDIA QUERY */
 main, .home-main{
     position: relative;
     background-color: #fff;
     width: 100%;
     text-align: center;
     padding-bottom: 1px;
}
 .intro-container, .partner-container {
     padding: 0 40px;
     width: 100%;
     margin-bottom: 80px;
}
 .partner-callout-container {
     padding: 10px 20px;
     margin-bottom: 50px;
}
 .further-reading-container {
     padding: 0 40px;
}
 .page-container {
     padding: 40px 20px;
}

/* ######################################################################## END */
/* ######################################################################## COMMON - BUTTONS */

/* STYLING FOR - CORE BUTTON STYLING */
 .btn {
     color: #ddd;
     padding: 0.5rem 2rem;
     border: none;
     display: inline-block;
     margin: 0;
     border-radius: 50px;
}
/* STYLING FOR - BUTTON OF TYPE CTA (CALL TO ACTION) */
 .btn-cta {
     background: #E55315;
}
/* STYLING FOR - BUTTON TYPE OF INFO */
 .btn-info, .btn-learn-more, .btn-read-more, .btn-submit {
     background: #2e151b;
     -webkit-box-shadow: 0 5px 5px 0 rgba(32,33,36,0.50);
     box-shadow: 0 5px 5px 0 rgba(32,33,36,0.50);
}
 .btn-submit {
     background: #1c3334;
}
/* STYLING FOR - BUTTON IN HOVER STATE */
 .btn:hover {
     color: #ddd;
     background: #da7b93;
     transition: all 0.55s ease-in-out;
     -moz-transition: all 0.55s ease-in-out;
     -webkit-transition: all 0.55s ease-in-out;
     -o-transition: all 0.55s ease-in-out;
}

/* ######################################################################### END */
/* ######################################################################### COMMON - HEADINGS & PARAGRAPHS */

/* STYLING FOR - FONTS */
 h1 {
     font-family: "Roboto" ,sans-serif;
     font-size: 2.2rem;
     font-weight: 700;
    /* credit for the following code to achieve an internal shadow to: https://designshack.net/articles/css/inner-shadows-in-css-images-text-and-beyond/ */
     background-color: #565656;
     color: transparent;
     text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
     -webkit-background-clip: text;
     -moz-background-clip: text;
     /* background-clip: text; */
}
 h1, h2, h3, h4, h5, h6 {
     font-family: "Roboto" ,sans-serif;
     text-transform: capitalize;
     letter-spacing: 1px;
}
 h2 {
     font-size: 1.4rem;
     font-weight: 600;
     text-transform: uppercase;
}
 h3 {
     font-size: 1.2rem;
     font-weight: 600;
     text-transform: uppercase;
}
 h4 {
     font-size: 1rem;
     font-weight: 600;
}
 h5 {
     font-size: .8rem;
}
 h6 {
     font-size: .6rem 
}
 p {
     font-size: .8rem;
     letter-spacing: .8px;
     line-height: 22px;
}

/* ####################################################################### END  */
/* ####################################################################### COMMON - GENERAL STYLING */

/* STYLING FOR - GENERAL BOX SHADOW USED ALL OVER THE SITE */
 .box-shadow {
     -webkit-box-shadow: 0 1px 6px 0 rgb(46,21,27);
     box-shadow: 0 1px 6px 0 rgb(46,21,27);
}
/* CREATED THIS TO USE ON PAGES WHERE I NEEDED A SET SPACING IN SECTIONS, EXAMPLE BETWEEN SECTIONS IN FEATURES */
 .page-section-spacer {
     margin-bottom: 100px;
}

/* ######################################################################## END  */
/* ######################################################################## NAVBAR STYLING - ALL PAGES */

/* STYLING FOR - STYLE THE NAV LINKS */
 .navbar-dark .navbar-nav .nav-link {
     color: #da7b93;
     font-size: 1.1rem;
     margin: 0 10px;
     font-weight: 500;
}
/* STYLING FOR - DROPDOWN MENU - METHOD TO ACHIEVE SHADOWS, INSPIRED FROM CSS TRICKS ARTICLE ON BOX-SHADOW, IMPLEMENTED IN MY OWN WAY */
 .navbar-expand-lg .navbar-nav .dropdown-menu {
     background-color: #2e151b;
     -webkit-box-shadow: 0 1px 6px 0 rgb(46,21,27);
     box-shadow: 0 1px 6px 0 rgb(46,21,27);
     width: 100px;
}
/* STYLING FOR - DROPDOWN MENU ITEMS */
 .dropdown-item {
     color: #da7b93;
     font-size: 1.18rem;
     font-weight: 500;
}
/* STYLING FOR - HOVER STYLING FOR DROPDOWN MENU */
 .dropdown-item:hover {
     color: #ddd;
     transition: all 0.55s ease-in-out;
     -moz-transition: all 0.55s ease-in-out;
     -webkit-transition: all 0.55s ease-in-out;
     -o-transition: all 0.55s ease-in-out;
     background: #2e151b;
}
/* STYLING FOR - REMOVE TOGGLER ICON BORDER ON COLLAPSED NAV BAR */
 .navbar-dark .navbar-toggler {
     border: none;
}
/* STYLING FOR - ANY ACTIVE NAVBAR LINK */
 .navbar-dark .navbar-nav .active, .dropdown-menu .dropdown-item.active, .footer-nav-links.active {
     background-color: #2e151b;
     font-weight: 700;
     color: #ddd;
}
/* STYLING FOR - CREATE SMOOTH TRANSITION OF COLOR WHEN LINKS ARE IN HOVERED STATE - CREDIT CODE TO CODE INSTITUTE MODULE */
 .navbar-dark .navbar-nav .nav-link:hover {
     color: #ddd;
     transition: all 0.55s ease-in-out;
     -moz-transition: all 0.55s ease-in-out;
     -webkit-transition: all 0.55s ease-in-out;
     -o-transition: all 0.55s ease-in-out;
}
/* STYLING FOR - NAV LINKS HOVER UNDERLINE EFFECT - https://ianlunn.github.io/Hover/ and CDNJS - COLOR src=https://cssgradient.io/ */
 .hvr-underline-from-center:before {
     border-radius: 50%;
     height: 5px;
     background: rgb(221,221,221);
     background: -o-radial-gradient(circle, rgba(221,221,221,1) 24%, rgba(46,21,27,1) 89%);
     background: radial-gradient(circle, rgba(221,221,221,1) 24%, rgba(46,21,27,1) 89%);
     -webkit-transition: all 0.40s ease-in-out;
     transition: all 0.40s ease-in-out;
     -moz-transition: all 0.40s ease-in-out;
     -webkit-transition: all 0.40 ease-in-out;
     -o-transition: all 0.40s ease-in-out;
}

/* ######################################################################## END  */
/* ######################################################################## HERO SECTION STYLING - HOME PAGE */

/* STYLING FOR - THE HERO IMAGE, SET IMAGE SOURCE AND POSITION */
 .hero-image {
     background-image: url("../images/laptop-stats-eye.jpg");
     height: 90vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
}
/* STYLING FOR HERO OPACITY LAYER - USED DISPLAY:FLEX TO ALLOW MARGIN: AUTO IN THE .HERO-TEXT ELEMENT, TO EASILY CENTER THE TEXT, CREDIT: CSS TRICKS */
 .hero-overlay {
     height: 100%;
     width: 100%;
     background-color: rgba(218,123,147, 0.3);
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
}
/* STYLING FOR - HERO TEXT CONTAINER */
 .hero-text {
     margin: auto;
     text-align: center;
}
/* STYLING FOR - HERO TEXT - ALTERED DEFAULT H1 STYLING */
 .hero-text h1 {
     text-shadow: 0px 2px 3px #130a0a;
     font-size: 3rem;
}
/* STYLING FOR - HERO TEXT - ALTERED DEFAULT H2 STYLING */
 .hero-text h2 {
     color: #2e151b;
     font-weight: 600;
     font-size: 2rem;
}

/* ######################################################################## END */
/* ######################################################################## BENEFITS SECTION IMG STYLING - HOME PAGE
 ########################################################################## ALSO ALL OTHER PAGES MAIN CONTENT AREAS IMG STYLING */

 .hospitality-benifit-img,
 .retail-benifit-img,
 .features-benifit-img,
 .hospitality-page-img,
 .retail-page-img,
 .feature-page-img,
 .about-page-img,
 .contact-page-img {
     width: 100%;
     max-width: 500px;
}

/* ####################################################################### END */
/* ####################################################################### PARTNER CALLOUT BANNER - HOME PAGE */

/* STYLING FOR - SOME GENERAL STYLING FOR THE PARTNER BANNER ON HOME PAGE */
 .partner-callout-container {
     width: 100%;
     margin-top: 100px;
     background-color: #2e151b;
}
 .partner-callout-container h2 {
     color: #da7b93;
}
 .partner-callout-container h3 {
     color: #ddd;
}
 .partner-callout-container .row {
     height: 180px;
}

/* ######################################################################## END */
/* ######################################################################## FURTHER READING - NEWS SECTION - HOME PAGE */

 .further-reading-container h2 {
     margin-bottom: 30px;
     text-align: left;
}
/* STYLING FOR - THE SLIGHT FADED LINE THAT PRECEEDS SOME OF THE SECTION HEADERS, 
USED IT TO GIVE A BIT MORE CLARITY BETWEEN SECTIONS THAT MAY BE LOST IN ALL THE WHITESPACE */
 .further-reading-container h2::before, .benefits-container h3::before, .page-container h3::before {
     content: '';
     display: block;
     background: rgb(46,21,27);
     background: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(46,21,27,0.9805133723411239)), color-stop(20%, rgba(233,177,191,1)), color-stop(30%, rgba(255,255,255,1)));
     background: -o-linear-gradient(left, rgba(46,21,27,0.9805133723411239) 10%, rgba(233,177,191,1) 20%, rgba(255,255,255,1) 30%);
     background: linear-gradient(90deg, rgba(46,21,27,0.9805133723411239) 10%, rgba(233,177,191,1) 20%, rgba(255,255,255,1) 30%);
     border-radius: 10px;
     height: 20px;
     margin-bottom: 10px;
}
/* STYLING FOR - TO REMOVE CARD BORDER STYLING */
 .card {
     border-style: none;
}
/* STYLING FOR - SOME GENERAL STYLING FOR THE FURTHER READING DROPDOWNS ON HOME PAGE */
 .gold-meter-award, .licence-announcement, .forum-post {
     width: 100%;
     max-width: 100px;
     margin-bottom: 20px ;
}

/* ######################################################################## END  */
/* ######################################################################## PAGE FOOTER - EVERY PAGE */

/* STYLING FOR - SOME GENERAL STYLING FOR THE FOOTER AREA */
 .page-footer {
     width: 100%;
     background-color: #2e151b;
     text-align: center;
     padding: 20px 10px;
     overflow: hidden;
}
/* STYLING FOR - CREATE SMOOTH TRANSITION OF COLOR WHEN LINKS ARE IN HOVERED STATE - CREDIT CODE TO CODE INSTITUTE MODULE */
 .footer-nav-links:hover {
     color: #ddd;
     transition: all 0.55s ease-in-out;
     -moz-transition: all 0.55s ease-in-out;
     -webkit-transition: all 0.55s ease-in-out;
     -o-transition: all 0.55s ease-in-out;
}
/* STYLING FOR - THIS IS TO REMOVE DEFAULT STYLING FROM FOOTER LINKS AND SET SITE COLOUR */
 .page-footer a, .page-footer h6 {
     padding-bottom: 5px;
     color: #da7b93;
     text-decoration: none;
}
/* STYLING FOR - TO PADD THE BOTTOM OF THE NAV LINKS */
 .page-footer a {
     padding-bottom: 5px;
}
/* STYLING FOR - TO SPECIFICALLY ADD FONT COLOR TO CTA BUTTON */
 .page-footer .btn-cta {
     color: #ddd;
}
/* STYLING FOR - SOCIAL LINKS */
 a.social-links .fab {
     font-size: 2rem;
     margin-right: 18px;
     color: #da7b93;
     transition: all 0.55s ease-in-out;
     -moz-transition: all 0.55s ease-in-out;
     -webkit-transition: all 0.55s ease-in-out;
     -o-transition: all 0.55s ease-in-out;
}
/* STYLING FOR - SOCIAL LINKS HOVE AND COLOR CHANGE */
 .social-links .fab:hover {
     text-shadow: 0px 0px 10px rgb(240, 239, 175);
}
/* TWITTER */
 .social-links .fa-twitter:hover {
     color: #38A1F3;
}
/* FACEBOOK */
 .social-links .fa-facebook:hover {
     color: #3b5998;
}
/* LINKED IN */
 .social-links .fa-linkedin:hover {
     color: #0e76a8;
}
/* YOU TUBE */
 .social-links .fa-youtube:hover {
     color: #ff0000;
}
/* STYLING FOR - TCOPYRIGHT TEXT AT FOOT OF PAGE */
 .Copyright {
     font-size: 1rem;
     margin: 30px 0 10px;
     color: rgb(134, 130, 130) 
}

/* ####################################################################### END  */
/* ####################################################################### CONTACT FORM PAGE */

/* STYLING FOR - GENERAL STYLING FOR THE FORM, PULL TO START TO ALIGN ON LEFT */
 .contact-form {
     width: 90%;
     padding: 20px;
     text-align: start;
     margin-bottom: 100px;
}
/* STYLING FOR - TO SET FONT STYLE FOR THE FORM LABELS */
 .input-label {
     font-size: 1.1rem;
     font-weight: 700;
}
/* STYLING FOR - COMBINED THESE CLASSES, THEY ALL APPLY COMMON STYLE FOR THE INPUT WINDOWS */
 .full-width-input, .med-height-input, .full-height-input{
     font-family: "Arial", sans-serif;
     background-color: #da7b9367;
     width: 100%;
     height: 2.2rem;
     border: 1px solid #2e151b;
     -webkit-box-shadow: inset 0px 0px 3px #2e151b;
     box-shadow: inset 0px 0px 3px #2e151b;
     border-radius: 5px;
     font-size: 1.2rem;
     font-weight: 500;
     padding-left: 10px;
}
/* STYLING FOR - ON HOVER OVER ANY INPUT WINDOW, THE INTERNAL SHADOW EFFECT IS REMOVED AND REPLACED BY A SINGLE BLACK BORDER. */
 .full-width-input:hover {
     border-color: #000;
     -webkit-box-shadow: none;
     box-shadow: none;
}
/* STYLING FOR - uSED THIS STYLING TO KEEP THE INPUT WINDOWS AT A LIGHTER COLOR WHILE SELECTED, TO MAKE IT CLEAR WHICH WINDOW IS ACTIVE */
 .full-width-input:focus, .med-height-input:focus, .full-height-input:focus {
     background-color: #dda0af2c;
     -webkit-box-shadow: none;
     box-shadow: none;
}
/* STYLING FOR - THE WHERE DID YOU HEAR ABOUT US WINDOW, TO LIMIT ITS GROWTH */
 .med-height-input {
     height: auto;
     max-height: 130px;
}
/* STYLING FOR - THE MESSAGE WINDOW, NO HEIGHT RESTRICTION AS IT IS A BOTTOM WINDOW AND WILL NOT AFFECT THE REST OF THE FORM LAYOUT */
 .full-height-input {
     height: auto;
}
/* STYLING FOR - USED THIS PSEUDO CLASS TO PLACE AN ASTERIX AFTER ANY REQUIRED FIELD */
 .input-required::after {
     content: "*";
     margin-left: 5px;
     color: red;
}

/* ######################################################################## END  */
/* ######################################################################## MEDIA QUERYS */

 @media (min-width: 992px){
    /* SOME SLIGHT FONT ADJUSTMENTS WHEN SCREENS GET LARGER */
     .hero-text {
         text-align: left;
    }
     .hero-text h1 {
         font-size: 4rem;
    }
     .hero-text h2 {
         font-size: 3rem;
    }
     h1 {
         font-size: 4rem;
         font-weight: 700;
    }
     h2 {
         font-size: 2rem;
         font-weight: 600;
    }
     h3 {
         font-size: 1.6rem;
         font-weight: 600;
    }
     h4 {
         font-size: 1.4rem;
         font-weight: 600;
    }
     h5 {
         font-size: 1rem;
    }
     h6 {
         font-size: .6rem 
    }
     p {
         font-size: .9rem;
         letter-spacing: 1px;
         line-height: 25px;
    }
}
/* LARGE SCREEN QUERY */
 @media (min-width: 1200px){
    /* QUERY FOR - TO FIX THE WHITE BACKGROUND IN PLACE WHEN 1200PX IS REACHED - FOR BOTH MAIN(SITE) AND .HOME-MAIN (THIS STYLE SPECIFICALLY FOR HOME PAGE AS THIS INCLUDES THE OFFSET TOP MARGIN) / LG-BREAKPOINT */
     main, .home-main {
         max-width: 1200px;
         left: 50%;
         margin-left: -600px;
         margin-top: -30px;
         margin-bottom: 100px;
    }
    /* QUERY FOR - THIS IS FOR ALL PAGES EXCEPT HOME PAGE WHICH USES THE .HOME-MAIN CLASS. */
     main {
         margin-top: 100px;
    }
    /* QUERYS FOR - TO ALLOW OFFSET ITEMS TO MOVE ON LARGER SCREENS */
     .expand-left {
         position: relative;
         margin-left: -40px;
    }
    /* QUERY FOR - TO ALLOW OFFSET ITEMS TO EXPAND RIGHT */
     .expand-right {
         position: relative;
         margin-right: -40px;
    }
    /* QUERY FOR - TO ALLOW OFFSET ITEMS TO EXPAND UP AND RIGHT */
     .expand-up-right {
         position: relative;
         margin-top: -60px;
         margin-right: -80px;
    }
    /* QUERY FOR - TO ALLOW OFFSET ITEMS TO EXPAND DOWN AND RIGHT */
     .expand-down-right {
         position: relative;
         margin-bottom: -60px;
         margin-right: -80px;
    }
    /* QUERY FOR - TO ALLOW THE PARTNER CALLOUT BANNER ON HOME PAGE TO EXPAND */
     .partner-callout-container {
         position: relative;
         margin-left: -28px;
         width: 1250px;
    }
    /* QUERY FOR - TO SLIGHTLY INCREASE SIZE OF CALLOUT TEXT ON PARTNER CALLOUT BANNER ON HOME PAGE */
     .partner-callout-container h2 {
         font-size: 2.5rem;
         font-weight: 700;
    }
}

/* ######################################################################## END  */