@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ###################################################################      SOME NOTES - REMOVE BEFORE DEPLOYMENT */
color note for self {
    color: #ddd; /* selected links */
    color: #fff;
    color: #eee;
    color: #777777;
    color: #555555; /* MAIN COLOR FOR TEXT CONTENT AND H2-H6 */
    color: #444444;


    
    background-color: #2e151b;
    background-color: rgb(218, 123, 147);
 
    background-color: #376e6f;
    background-color: #1c3334;
    
    background-color: #2f4454
}

/* ###################################################################      COMMON STYLING */


body {
    font-size: 100%;
    font-family: "Poppins" ,sans-serif;
    font-weight: 400;
    /* background-color: #da7b93; */
    color: #555555;
}

main {
    background-color: #da7b93;
}

/* ################################         BUTTONS */

.btn {
    color: #2e151b;
    padding: 0.5rem 2rem;
    border: 1px solid #2e151b;
    display: inline-block;
    margin: 0;
    border-radius: 50px;
}

.btn-cta {
    background: #ffa500;
    
}

.btn:hover {
    color: #ddd;
    background: #da7b93;
    transition: all 0.55s ease-in-out;
    -moz-transition: all 0.55s ease-in-out;
    -webkit-transition: all 0.55s ease-in-out;
    -o-transition: all 0.55s ease-in-out;
}


/* ################################         HEADINGS */

h1 {
    font-size: 1.6rem;
    font-weight: 700;
    /* credit for the following code to achieve an internal shadow to: https://designshack.net/articles/css/inner-shadows-in-css-images-text-and-beyond/ */
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
}

h5 {
    font-size: .8rem;
}

h6 {
    font-size: .6rem
}



/* ###################################################################         NAVBAR STYLING */

/* STYLING FOR - STYLE THE NAV LINKS */
.navbar-dark .navbar-nav .nav-link {
    color: #da7b93;
    font-size: 1.1rem;
    margin: 0 10px;
    font-weight: 500;
}


/* STYLING FOR - DROPDOWN MENU - METHOD TO ACHIEVE SHADOWS, INSPIRED FROM CSS TRICKS ARTICLE ON BOX-SHADOW, IMPLEMENTED IN MY OWN WAY */
.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #2e151b;
    -webkit-box-shadow: 0 1px 6px 0 rgb(46,21,27);
    -moz-box-shadow:    0 1px 6px 0 rgb(46,21,27);
    box-shadow: 0 1px 6px 0 rgb(46,21,27);
    width: 100px;
}


/* STYLING FOR - DROPDOWN MENU ITEMS */
.dropdown-item {
    color: #da7b93;
    font-size: 1.18rem;
    font-weight: 500;
}


/* STYLING FOR - HOVER STYLING FOR DROPDOWN MENU - CSSGRADIENT.IO USED HERE */
.dropdown-item:hover {
    color:  #ddd;
    transition: all 0.55s ease-in-out;
    -moz-transition: all 0.55s ease-in-out;
    -webkit-transition: all 0.55s ease-in-out;
    -o-transition: all 0.55s ease-in-out;
    background: #2e151b;
    /* background: rgb(221,221,221);
    background: radial-gradient(circle, rgba(221,221,221,1) 24%, rgba(46,21,27,1) 89%); */
}


/* STYLING FOR - REMOVE TOGGLER ICON BORDER */
.navbar-dark .navbar-toggler {
    border: none;
}


/* STYLING FOR - ACTIVE NAVBAR LINK */
.navbar-dark .navbar-nav .active>.nav-link {
    font-weight: 700;
    color: #ddd;
}

/* STYLING FOR - CREATE SMOOTH TRANSITION OF COLOR WHEN LINKS ARE IN HOVERED STATE - CREDIT CODE TO CODE INSTITUTE MODULE */
.navbar-dark .navbar-nav .nav-link:hover {
    color:  #ddd;
    transition: all 0.55s ease-in-out;
    -moz-transition: all 0.55s ease-in-out;
    -webkit-transition: all 0.55s ease-in-out;
    -o-transition: all 0.55s ease-in-out;
}

  /* STYLING FOR - NAV LINKS HOVER UNDERLINE EFFECT - https://ianlunn.github.io/Hover/ and CDNJS -  COLOR src=https://cssgradient.io/ */
  .hvr-underline-from-center:before {
    border-radius: 20%;

    background: rgb(221,221,221);
    background: radial-gradient(circle, rgba(221,221,221,1) 24%, rgba(46,21,27,1) 89%);

    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40 ease-in-out;
    -o-transition: all 0.40s ease-in-out;
  }



/* ###################################################################              HERO SECTION STYLING */

.hero-image {
    background-image:  url("/assets/images/laptop-stats-eye.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero-overlay {
    height: 100%;
    width: 100%;  
    background-color: rgba(218,123,147, 0.3);
    display: flex;
  }

.hero-text {
    margin: auto;
    
}

.hero-text h1 {
    font-size: 3rem;
}

.hero-text h2 {
    font-size: 2.5rem;
}

/* ###################################################################       */
/* ###################################################################       */
/* ###################################################################       */
/* ###################################################################       */
/* ###################################################################       */
/* ###################################################################       */


  
  
  
  
  
  
 
  

  
  